body {
  /*background-color: rgb(9 78 58 / 80%);*/
  background-image: url(2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  text-align: center;
  background-size: cover;
}

#titulo {
  color: rgb(255, 255, 255);
  text-shadow: 1px 3px rgb(27, 27, 27);
  font-family: monospace;
  font-weight: bold;
}

.input {
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
}
.botonagregar {
  border-radius: 10px;
  background-color: rgb(27, 72, 156);
  color: white;
  border: none;
}
.botonagregar:hover {
  border: 3px solid rgb(255, 255, 255);
}
.boton-editar {
  border-radius: 10px;
  background-color: rgb(255, 6, 46);
  color: white;
  border: none;
}

.boton-editar_green {
  background-color: green;
}
.boton-remover {
  border-radius: 10px;
  background-color: rgb(255, 6, 46);
  color: white;
  border: none;
}

.item-input {
  color: white;
  background: none;
  outline: none;
  text-shadow: 1px 2px rgb(29, 28, 28);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

/*dddddddddddddddddddddddddmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmd*/
/*
@media (min-width: 1025px) and (max-width: 1400px) {
  #card {
    margin: auto;
    margin-top: 80px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
  }

  .input-div {
    margin-bottom: 20px;
  }

  .botonagregar {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
    background-color: rgb(27, 72, 156);
    color: white;
    font-size: 3em;
  }

  .botonagregar:hover {
    opacity: 0.9;
  }

  .item {
    margin-bottom: 50px;
  }

  .item-input {
    width: 40%;
    height: 150px;
    font-size: 4em;
    color: white;
    background: none;
    outline: none;
    text-shadow: 1px 2px rgb(29, 28, 28);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
  }

  .boton-editar {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
    font-size: 3em;
    margin: 5px;
  }

  .boton-remover {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
    font-size: 3em;
    margin: 5px;
  }
  #titulo {
    color: white;
    text-shadow: 1px 3px rgb(27, 27, 27);
    font-size: 6em;
    font-style: italic;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .input {
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    height: 140px;
    margin: 5px;
    font-size: 4em;
  }
  .input::placeholder {
    color: rgb(71, 66, 66);
    margin-left: 10px;
    font-size: 1em;
    font-style: oblique;
  }
}
*/
@media (min-width: 768px) and (max-width: 1424px) {
  #card {
    margin: auto;
    margin-top: 80px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
  }

  #titulo {
    font-size: 1.5em;
  }
  .input {
    width: 80%;
    height: 38px;
    margin: 5px;
  }
  .botonagregar {
    width: 45px;
    height: 45px;
  }
  .item-input {
    height: 38px;
    width: 170px;
    padding: 0px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
  }
  .boton-editar {
    height: 50px;
    width: 45px;
    border: none;
    margin: 5px 5px;
  }

  .boton-remover {
    height: 50px;
    width: 45px;
    border: none;
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  #titulo {
    font-size: 1.5em;
  }
  .input {
    width: 90%;
    height: 38px;
    margin: 5px;
  }
  .botonagregar {
    width: 45px;
    height: 45px;
  }
  .item-input {
    height: 38px;
    width: 140px;
    padding: 0px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
  }
  .boton-editar {
    height: 50px;
    width: 45px;
    border: none;
    margin: 5px 5px;
  }

  .boton-remover {
    height: 50px;
    width: 45px;
    border: none;
  }
}
@media (min-width: 250px) and (max-width: 375px) {
  #titulo {
    font-size: 1.5em;
  }
  .input {
    width: 90%;
    height: 38px;
    margin: 5px;
  }
  .botonagregar {
    width: 45px;
    height: 45px;
  }
  .item-input {
    height: 38px;
    width: 140px;
    padding: 0px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
  }
  .boton-editar {
    height: 50px;
    width: 45px;
    border: none;
    margin: 5px 5px;
  }

  .boton-remover {
    height: 50px;
    width: 45px;
    border: none;
  }
}
